body {
    padding: 40px;
    margin: 0;
    width: 100%;
    height: 100%;
    background: url(/img/background.jpg);
    font-family: Arial, sans-serif;
}

.board {
    border-collapse: collapse;
    float: left;
    margin-right: 20px;
}
.board td {
    border: none;
    margin: 0;
    padding: 0;
    position: relative;
}
.board .letter {
    font-size: 25px;
    width: 40px;
    height: 40px;
    text-align: center;
    font-family: monospace;
    border: 1px solid black;
    text-transform: uppercase;
}
.board .letter:focus {
    border-color: blue;
    background-color: #ddd;
}
.board .letter.highlight {
    background-color: #ddd;
}
.board .number {
    position: absolute;
    top: 1px;
    left: 1px;
    font-size: 9px;
    font-weight: bold;
}
.board .block {
    background: black;
}

.clues {
    border: 1px solid #ccc;
    float: left;
    font-size: 14px;
    margin-right: 10px;
    padding: 0 5px;
    width: 200px;
}

.clues .header {
    display: block;
    padding: 10px 0 5px;
    border-bottom: 1px solid;
}

.clues>div {
    cursor: pointer;
    max-height: 90%;
    overflow-y: scroll;
}
.clues>div>div {
    padding: 4px;
}

.clues .highlight {
    background-color: #ddd;
    font-weight: bold;
}
.clues .current {
    background-color: #aae;
}